absl-py==2.3.1
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1759835989949/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
annotated-types==0.7.0
anyascii==0.3.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1758634638/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1759762205280/work
audioread==3.0.1
av==16.0.1
babel==2.17.0
bangla==0.0.5
bidict==0.23.1
blinker==1.9.0
blis==1.2.1
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1756599213019/work
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761203062999/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==8.3.0
cloudpathlib==0.23.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.2.1
coqpit-config==0.2.1
coqui-tts==0.27.2
coqui-tts-trainer==0.3.1
ctranslate2==4.6.0
cycler==0.12.1
cymem==2.0.11
Cython==3.1.6
datasets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_datasets_1761322468/work
dateparser==1.1.8
decorator==5.2.1
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1744798524990/work
docopt==0.6.2
einops==0.8.1
encodec==0.1.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
faster-whisper==1.2.0
ffmpeg-python==0.2.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
Flask==3.1.2
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1752167259889/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1756908513222/work
future==1.0.0
g2pkk==0.1.2
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1756739693567/work
grpcio==1.76.0
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hangul-romanize==0.1.0
hf-xet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_hf-xet_1758319873/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1761225853865/work
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
inflect==7.5.0
itsdangerous==2.2.0
jamo==0.4.1
jieba==0.42.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib==1.5.2
jsonlines==1.2.0
kiwisolver==1.4.9
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.45.1
marisa-trie==1.3.1
Markdown==3.9
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055293570/work
matplotlib==3.8.4
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
monotonic-alignment-search==0.2.1
more-itertools==10.8.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack==1.1.2
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1751310647064/work
multiprocess @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_multiprocess_1760823319/work
murmurhash==1.0.13
networkx==2.8.8
nltk==3.9.2
num2words==0.5.14
numba==0.62.1
numpy==1.26.4
onnxruntime==1.23.1
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1756812130178/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==1.5.3
pillow==12.0.0
platformdirs==4.5.0
pooch==1.8.2
preshed==3.0.10
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1744524986738/work
protobuf==6.33.0
psutil==7.1.1
pyarrow==21.0.0
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.3
pydantic_core==2.41.4
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pynndescent==0.5.13
pyparsing==3.2.5
pypinyin==0.55.0
pysbd==0.3.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-crfsuite==0.9.11
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-engineio==4.12.3
python-socketio==5.14.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1758891758214/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1761071638634/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1760026188/work/dist
safetensors @ file:///Users/runner/miniforge3/conda-bld/safetensors_1756440479353/work
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.1
shellingham==1.5.4
simple-websocket==1.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smart_open==7.4.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sounddevice==0.5.3
soundfile==0.13.1
soxr==1.0.0
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
SudachiDict-core==20250825
SudachiPy==0.6.10
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thinc==8.3.4
threadpoolctl==3.6.0
tokenizers==0.21.4
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1753839011583/work
torchaudio @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchaudio_1755748965/work
torchcodec @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchcodec_1757489106/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
trainer==0.0.36
transformers==4.55.4
typeguard==4.4.4
typer==0.20.0
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
tzlocal==5.3.1
umap-learn==0.5.7
Unidecode==1.4.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wasabi==1.1.3
weasel==0.4.1
websocket-client==1.9.0
Werkzeug==3.1.3
wrapt==2.0.0
wsproto==1.2.0
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1759440796241/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1761336948342/work
zstandard==0.25.0
